<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MegaMudMDCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <MegaMudMDCreator.Properties.Settings>
            <setting name="MegaMudRootPath" serializeAs="String">
                <value>C:\Program Files (x86)\Megamud</value>
            </setting>
            <setting name="DefaultRelativePath" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="BBSRelativePath" serializeAs="String">
                <value>BBS</value>
            </setting>
            <setting name="CharactersRelativePath" serializeAs="String">
                <value>Chars</value>
            </setting>
            <setting name="ClassesFile" serializeAs="String">
                <value>Classes.md</value>
            </setting>
            <setting name="ItemsFile" serializeAs="String">
                <value>Items.md</value>
            </setting>
            <setting name="MessagesFile" serializeAs="String">
                <value>Messages.md</value>
            </setting>
            <setting name="MonstersFile" serializeAs="String">
                <value>Monsters.md</value>
            </setting>
            <setting name="PathsFile" serializeAs="String">
                <value>Paths.md</value>
            </setting>
            <setting name="RacesFile" serializeAs="String">
                <value>Races.md</value>
            </setting>
            <setting name="SpellsFile" serializeAs="String">
                <value>Spells.md</value>
            </setting>
            <setting name="RoomsFile" serializeAs="String">
                <value>Rooms.md</value>
            </setting>
        </MegaMudMDCreator.Properties.Settings>
    </applicationSettings>
</configuration>
